@font-face {
    font-family: 'Josefin Sans';
    src: url('../josefin-sans/JosefinSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

* {
    padding: 0;
    margin: 0;
}

#contenedorLogo{
    display: flex;
    justify-content: center;
}

#logo{
    width: 12.5vw;
    margin-top: 4.1vh;
}

.container1{
    background-color: #194350;
    height: 100vh;
}

.container2{
    margin-left: 11.46vw;
    margin-top: 13.276vh;
}

.buy > img{
    width: 50.97vw;
}

.trust {
    height: 17.25vh;
    margin-top: -7.975vh;
}

.trust > img{
    width: 36.66vw;
    margin-left: 2.63vw;
    /* margin-top: -7.975vh; */
}

/* .bote{
    width: 28.12%;
    height: 50%;
    margin-left:38.28%;
    margin-top: 18.61%;
} */

.bote {
    /* position: absolute; */
    margin-left: 39.58vw;
    margin-top: 15.9;
    margin-left: -11.45vw;
}

.bote img{
    width: 37.5vw;
    height: 67.5vh;
}

.texto1{
    width: 26.8vw;
    font-size: 2rem;
    font-family: 'Lato';
    color: white;
    font-size: 1.25vw;
    line-height: 1.825vw;
    font-weight: 300;
}

.texto1 p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 146%;
}

.d-flex-colum {
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.d-flex-row {
    flex-direction: row;
}

.drink{
    margin-top: 2.75vh;
    display: flex;
}

.boton-drink{
    width: 17.84vw;
    height: 7.875vh;
}

/* .rectangle{
    width: 2.96vw;
    height: 0.875vh;
} */

.rectangle1{
    width: 1.944vw;
    height: 0.875vh;
    margin-left: -18.81vw;
    margin-top: 0.347vh;
}

.rectangle2{
    width: 2.916vw;
    height: 0.875vh;
    margin-left: 15.29vw;
    margin-top: 5.25vh;
}

.mouse1 img{
    height: 3.985vh;
    width: 1.406vw;
}

.counter-bottom{
    margin-left: 11.46vw;;
    display: flex;
    align-items: center;
}

.text-down{
    margin-left: 53.83vw;
}

.container3 {
    background-color: #ffffff;
    height: calc(100vh + 13.48vh);
    margin-top: 9.725vh;
}



.rayado{
    width: 22.65vw;
    height: 12.285vh;
    margin-left: 8.78vw;

    background: url(../assets/images/parte2/Rectangle33.png);
    background: linear-gradient(90deg, #FF8882 0%, rgba(255, 136, 130, 0) 100%);
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0) 50px,
        rgba(0, 0, 0, 0) 58px,
        #FF8882 60px,
        #FF8882 60px
      )

}

.rayado h2{
    width: 9.30vw;
    height: 3.375vh;
    padding-top: 2.18vh;
    margin-left: 1.71vw;
    font-family: 'Josefin Sans';
    font-weight: 48.61vw;
    font-size: 3.375vh;
    line-height: 27px;
    font-family: josefin-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cruelty{
    width: 41.66vw;
    height: 13.125vh;
    margin-left: 11.50vw;
    margin-top: -6.54vh;
}

.cruelty h2{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 87.5vw;
    font-size: 7.29vw;
    line-height: 7.29vw;
    color: #194350;
}

.development{
    margin-left: 14.58vw;
    width: 45.69vw;
    height: 13.125vh;
    margin-top:-5.38vh;
}

.development h2{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 48.61vw;
    font-size: 7.29vw;
    line-height: 7.29vw;
    /* identical to box height */


    -webkit-text-stroke: 0.4px #FF8882;
    color: transparent;

    /* border: 0.125vh solid #FF8882; */
}

.text{
    display: flex;
    justify-content: center;
}

.text p{
    width: 21.18vw;
    height: 2.875vh;
    margin-top: 8.473vh;
    text-align: center;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 75vh;
    font-size: 2.625vh;
    line-height: 2.85vh;
    /* identical to box height */


color: #194350;

}

.containerPuppyTargets{
    display: flex;
    flex-direction: row;
    margin-left: 11.31vW;
    /* margin-top: 5.786vh; */
}

.puppyTarget1{
    margin-top: 18.75vh;
}

.puppyTarget1 h2{

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 48.61vw;
    font-size: 3.26vw;
    line-height: 3.26vw;
    color: #194350;
    
}

.text-puppy{
    width: 30.90vW;
    margin-top: 2vh;
}

.text-puppy p{

    font-family: 'Lato';
    font-style: normal;
    font-weight: 27.77vw;
    font-size: 2.25vh;
    line-height: 2.75vh;
    color: #194350;
    opacity: 0.7;
}

.puppyTarget2{
    width: 43.40vw;
    height: 59vh;
    margin-left: -22.91vw;
    margin-top: 5.78vh;
    background: #9DBEB9;
    opacity: 0.2;;
    margin-bottom: 13.48vh;
}

.puppyTarget3{
    /* background: url(../assets/images/parte2/Rectangle26.png); */

    margin-top: 14.08vh;
    margin-left: -11.8vw;
    /* background-size: cover; */
    /* border-radius: 2.5%; */
}

.puppyTarget3 img{
    width: 37.5vw;
    height: 42.5vh;
}

.container4{
    background-color: #194350;
    height: calc(100% + 5.258vh);
    background: linear-gradient(180deg, #FF8882 0%, #FFC2B4 100%);
}

.cabecera5{
    padding-top: 6.87vh;
}

.rayado2{
    margin-left: 70.36vw;
    width: 22.65vw;
    height: 9.89vh;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.rayado2 h2{
    padding-left: 11.59vw;

    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 48.61vw;
    font-size: 2.71vh;
    line-height: 2.71vh;
    padding-top: 2.06vh;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.28em;
    text-transform: uppercase;

/* Blanco */

color: #FFFFFF;
}

.our{
    margin-left: 77.93vw;
    margin-top: -4.6vh; 
}

.our h2{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 48.61vw;
    font-size: 10.57vh;
    line-height: 10.57vh;

    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}

.flavours{
    margin-left: 58.75vw;
    margin-top: -4.38vh;
    width: 27.44vw;
    display: flex;
    justify-content: end;
}

.flavours h2{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 48.61;
    font-size: 10.57vh;
    line-height: 10.57vh;

    display: flex;
    align-items: center;
    text-align: right;

    -webkit-text-stroke: 0.4px #FFFFFF;
    color: #FF8882;
    /* border: 1px solid #FFFFFF; */
}

.cards{
    margin-top: 4.07vh;
    margin-left: 11.458vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4.07vh;
    padding-bottom: 5.258vh;
}

.singleCard{
    width: 17.68vw;
    /* height: 16.28vh;
     */
     height: 100%;
    margin-right: 2.11vw;
    border-radius: 0.69vw;
    background-color: #FFFFFF;
    margin-top: 2.01vh;
}

.containIMG{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2.24vh;
    padding-left: 0.83vw;
}

.containIMG img{
    padding-right: 0.55vw;
    width: 2.572vw;
}

.containIMG h2{
    width: 11.3vw;
    height: 2.11vh;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 48.61vw;
    font-size: 2.11vh;
    line-height: 2.11vh;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.195em;
    text-transform: uppercase;
}

.containTEXT{
    padding-top: 2.24vh;
    padding-left: 0.83vw;
}

.containTEXT h3{
    /* width: 230.61px;
    height: 44px; */

    /* Body / Regular */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 27.7vw;
    font-size: 1.81vh;
    line-height: 2.21vh;
    display: flex;
    align-items: center;

    color: #194350;
}

.containtButton{
    display: flex;
    justify-content: end;

}

.contentDetails{
    display: flex;
    flex-direction: row;
    width: 8vw;
    height: 3.02vh;
    background: #FF8882;
    border-radius: 5.53vh;
    align-items: center;
    margin-bottom: 1.4vh;
    margin-right: 0.833vw;
    margin-top: 1.107vh;
}

.contentDetails h3{
    width: 3.88vw;
    height: 2.21vh;
    
    /* Body / Bold */
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 2.21vh;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    margin-left: 1.18vw;
    margin-top: 0.4vh;
    margin-bottom: 0.4vh;
    margin-right: 0.625vw;
    
    /* Blanco */
    
    color: #FFFFFF;
}

.contentDetails img{
    width: 1.17vw;
    height: 0.625vw;
}

.container6{
    background-color: #ffffff;
    height: calc(100vh + 13.48vh);
    padding-top: 9.725vh;
}

.extra{
    display:flex;
}


/*página5*/

.container7{
    background-color: #194350;
    height:100vh;
    background: linear-gradient(0deg, #194350 0%, #9DBEB9 119.16%);
}

.cabecera5{
    padding-top: 6.87vh;
}

.rayado3{
    margin-left: 70.36vw;
    width: 22.65vw;
    height: 9.89vh;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.rayado3 h2{
    padding-left: 11.59vw;

    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 48.61vw;
    font-size: 2.71vh;
    line-height: 2.71vh;
    padding-top: 2.06vh;
    /* identical to box height */
    color: #FFFFFF;

    display: flex;
    align-items: center;
    letter-spacing: 0.28em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.blog{
    margin-left: 77.93vw;
    margin-top: -4.6vh; 
}

.blog h2{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 48.61vw;
    font-size: 10.57vh;
    line-height: 10.57vh;

    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}

.new {
    margin-left: 57%;
    margin-top: -2%;
    width: 27.44vw;
    display: flex;
    justify-content: end;
}

.new h2{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 48.61;
    font-size: 10.57vh;
    line-height: 10.57vh;

    display: flex;
    align-items: center;
    text-align: right;

    -webkit-text-stroke: 0.4px #FFFFFF;
    color: #194350;;
    /* border: 1px solid #FFFFFF; */
}

.generalHeader {
    margin-left: 9.08vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minibox1 {
    width: 3.99vw;
    height: 9.45vh;
    background: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    margin-top: 17.4%;
    margin-left: -2%;
}

.imgFamily{
    width: 37.39vw;
    height: 29.97vh;
    background: transparent;
}

.minibox2 {
    width: 4.98vw;
    height: 7.84vh;
    background: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    margin-top: -15.4%;
    margin-left: 25%;
}

.drinkingPoison {
    margin-top: 18.75vh;
    display: flex;
    flex-direction: column;
}

.drinkingPoison h2 {
    width: 79%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 48.61vw;
    font-size: 253%;
    line-height: 2.26vw;
}

.text-drinking{
    width: 30.90vW;
    margin-top: 2vh;
}

.text-drinking p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 27.77vw;
    font-size: 110%;
    line-height: 125%;
    opacity: 0.7;
}

.containtSyleText{
    max-width: 45%;
    color: #FFFFFF;
}

.containtButton2{
    display: flex;
    flex-direction: column;
}

.buttonMore{
    width: 32%;
    color: white;
    background: white;
    opacity: 31%;
}

.buttonMore h2{
    color: #FFFFFF;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 70048.47vw;
    font-size: 180%;
    line-height: 180%;
}

.minibox21{
    width: 4.98vw;
    height: 7.84vh;
    background: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    margin-top: -15.4%;
    margin-left: 25%;
}

.minibox22{
    width: 4.98vw;
    height: 7.84vh;
    background: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    margin-top: -15.4%;
    margin-left: 25%;

}












/* responsive */

@media (max-width: 770px) {

    /*pagina 1*/

    .bote{
        display: none;
    }

    .container2 {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-top: 15%;
    }


    .buy > img {
        width: 80%;
    }

    .trust {
        height: auto;
        margin-top: -7%;
        margin-bottom: 10%;
    }

    .trust > img {
        width: 36.66vw;
        width: 55%;
        margin-left: 2.63vw;
    }


    .texto1 {

        font-size: 2rem;
        font-family: 'Lato';
        color: white;
        font-size: 150%;
        line-height: 150%;
        font-weight: 300;
        width: 80%;
    }

    .boton-drink {
        width: 65%;
        height: 7.875vh;
    }

    .drink {
        margin-left: -10%;
        display: flex;
        justify-content: center;
        margin-top: 25%;
    }

    .rectangle1{
        display: none;
    }

    .rectangle2 {
        width: 6%;
        height: 0.875vh;
        margin-left: -2%;
        margin-top: 5.25vh;
    }

    #logo {
        width: 30%;
        margin-top: 4.1vh;
    }

    .texto1 {
        font-size: 2rem;
        font-family: 'Lato';
        color: white;
        font-size: 120%;
        line-height: 120%;
        font-weight: 300;
        width: 80%;
    }

    .counter-bottom {
        display: flex;
        margin-left: 11.46vw;
        display: flex;
        align-items: center;
        margin-top: 30%;
        flex-direction: column;
    }

    .mouse1{

        margin-left: -20%;

    }

    .mouse1 img {
        width: auto;
    }

    .counter-bottom {
        display: flex;
        margin-left: 11.46vw;
        display: flex;
        align-items: center;
        margin-top: 15%;
        flex-direction: column;
    }

    .text-down {
        margin-left: -15%;
    }

    .text-down img{
        width: 100%;
        margin-top: 10%;
    }

    .puppyTarget2 {
        opacity: 0;
    }

    .text-down img {
        width: 100%;
        margin-top: 5%;
    }


    /* página3 */

    .rayado2 {
        margin-left: 50%;
        /* width: 22.65vw; */
        width: auto;
        height: 9.89vh;
        background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        /* transform: matrix(-1, 0, 0, 1, 0, 0); */
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .our {
        margin-left: 65%;
        margin-top: -4.6vh;
    }

    .our h2 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 48.61vw;
        font-size: 350%;
        line-height: 10.57vh;
    }

    .flavours {
        margin-left: 60%;
        margin-top: -12%;
        width: 28%;
        display: flex;
        justify-content: end;
    }

    .flavours h2 {
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 48.61;
        font-size: 470%;
        line-height: 10.57vh;
        display: flex;
        align-items: center;
        text-align: right;
        -webkit-text-stroke: 0.4px #FFFFFF;
        color: white;
        /* border: 1px solid #FFFFFF; */
    }

    .cards {
        margin-top: 4.07vh;
        margin-left: 7%;
        display: flex;
        flex-direction: column;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 8%;
        padding-bottom: 10%;
    }

    .singleCard {
        min-width: 80%;
        width: 80%;
        /* height: 16.28vh; */
        height: 100%;
        margin-right: 5%;
        border-radius: 4%;
        background-color: #FFFFFF;
        margin-top: 5%;
    }

    .containIMG {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 5%;
        padding-left: 3%;
    }

    .containIMG img {
        padding-right: 3%;
        width: 12%;
    }

    .containTEXT {
        padding-top: 5%;
        padding-left: 3%;
    }

    .contentDetails {
        display: flex;
        flex-direction: row;
        width: 35%;
        height: 5%;
        background: #FF8882;
        border-radius: 5.53vh;
        align-items: center;
        margin-bottom: 4%;
        margin-right: 5%;
        margin-top: 3%;
    }

    .contentDetails h3 {
        width: 55%;
        /* height: 2.21vh; */
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 100%;
        line-height: 2.21vh;
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
        /* margin-right: 0.625vw; */
        color: #FFFFFF;
    }

    .contentDetails img {
        width: auto;
        height: auto;
    }

    .cards {
        margin-top: 4.07vh;
        margin-left: 11.458vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 4.07vh;
        padding-bottom: 5.258vh;
        flex-flow: row;
    }





  }

  @media (max-width: 620px) {


    .text-puppy p {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 27.77vw;
        font-size: 100%;
        line-height: 2.75vh;
        color: #194350;
        opacity: 0.7;
    }


  }



  @media (max-width: 520px) {


        /* página 2 */

        .rayado {
            width: 22.65vw;
            height: 12.285vh;
            margin-left: 0px;
            background: url(../assets/images/parte2/Rectangle33.png);
            background: linear-gradient(90deg, #FF8882 0%, rgba(255, 136, 130, 0) 100%);
        }
    
        .rayado h2{
            width: auto;
        }
    
        .rayado h2 {
            width: 100%;
            font-size: 130%;
        }
    
        .cruelty {
            width: 41.66vw;
            height: 13.125vh;
            margin-left: 3%;
            margin-top: -3%;
        }
    
        .cruelty h2 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 87.5vw;
            font-size: 270%;
            line-height: 7.29vw;
            color: #194350;
        }
    
        .development {
            /* margin-left: 7%;
            width: 45.69vw;
            height: 13.125vh;
            margin-top: -17%; */
            display: none;
            
        }
    
        .text-puppy {
            width: 80%;
            margin-top: 2vh;
        }
    
        .text-puppy p {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 27.77vw;
            font-size: 132%;
            line-height: 2.75vh;
            color: #194350;
            opacity: 0.7;
        }
    
        .puppyTarget1 {
            margin-top: 30%;
            /* margin-top: 18.75vh; */
        }
    
        .puppyTarget1 h2 {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 48.61vw;
            font-size: 145%;
            line-height: 3.26vw;
            color: #194350;
        }
    
        .text p {
            width: auto;
            height: 2.875vh;
            margin-top: 8%;
            text-align: center;
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 75vh;
            font-size: 131%;
            line-height: 100%;
            color: #194350;
        }
    
        .containerPuppyTargets {
            display: flex;
            flex-direction: column;
            margin-left: 11.31vW;
            /* margin-top: 5.786vh; */
            margin-top: 0%;
        }
    
        .puppyTarget3 {
            /* background: url(../assets/images/parte2/Rectangle26.png); */
            /* margin-top: 14.08vh; */
            margin-left: -11.8vw;
            /* background-size: cover; */
            /* border-radius: 2.5%; */
            margin-top: -75%;
            display: flex;
            justify-content: center;
        }
    
        .puppyTarget3 img {
            /* width: 37.5vw; */
            height: auto;
            width: 90%;
        }

        .contentAux{
            width: 15%;
            height: 15%;
            background-color: #9DBEB9;
        }


  }


